* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
body {
  width: 100%; 
}

@keyframes Downarrow {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }
  80% {
    transform: translateY(3px);
  }
}